*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body{
    word-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    background: hsl(0, 0%, 100%);
   height: 100vh;
   font-size: 16px;
   border-style: solid;
   border-color: hsl(185, 41%, 84%);
   padding: 3rem;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    line-height: 25px;
}
.tip-calculator{
    color:  hsl(186, 14%, 43%);
}
- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Very light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)
*/
body{
        background-color: hsl(185, 41%, 84%);
        width: 100%;
}
.container{
    display: flex;
    background-color: white;
    width: 800px;
    gap: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}
.right-side{
    display: grid;
    line-height: 1rem;
    background:  hsl(183, 100%, 15%) ;
    border-radius: 10px;
}
.right-side h5{
    font-size: 10px;
    color: hsl(189,41%, 97%);
    word-spacing: 5px;
}
.right-side p{
    color:  hsl(185,14%, 56%);
    font-size: 10px;
    word-spacing: 2px;
}
.tip-amount{
    margin: 3em;
}
.tip-total{
    margin: 10px 2em;
}
.dollars{
    font-size: 4em;
    color:  hsl(185, 41%, 84%);
    margin-left: 100px;
    word-spacing: 0.5px;
}
img{
    height: 30px;
}
.btn{
    display: flex;
    background:  hsl(185, 41%, 84%);
    padding: 10px 9em;
    margin: 3rem;
    border-radius: 5px;
    color: hsl(185,14%, 56%);
}
.btn:hover{
    background: hsl(180, 87%, 36%);
    color: hsl(183, 100%, 15%);
    font-weight: bold;
}
