* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-grayish: hsl(183, 100%, 15%);
  --dark-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(189, 41%, 97%);
}

body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
  width: 100%;
}
.logo {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  background-color: white;
  width: 800px;
  gap: 20px;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  position: relative;
}
.hidden {
  display: none;
}
.error {
  position: absolute;
  width: 50%;
  height: 20%;
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  background-color: var(--dark-cyan);
  color: white;
}
.error .alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}
.left-side {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.left-side p {
  margin: 20px 0 10px 0;
}
.bill,
.people-input {
  display: flex;
  background-color: hsl(185, 41%, 84%);
}
.notify-border {
  outline: 1px solid red;
}
input:first-child,
input:last-child {
  border: none;
  padding: 10px;
  width: 100%;
  text-align: right;
  font-weight: bold;
  font-size: 1em;
  background-color: hsl(185, 41%, 84%);
}

.tip {
  text-align: center;
  color: white;
  background-color: var(--very-dark-grayish);
  padding: 13px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.tip:hover { 
  background-color: var(--grayish-cyan);
  color: black;
  font-weight: bold;
}
.selected{
  background-color: var(--grayish-cyan);
  color: black;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.left-side input#custom-tip {
  width: calc(100% - 20px);
  font-weight: bold;
  background-color: hsl(185, 41%, 84%);
  font-size: 1.5em;
}
.left-side input#bill {
  background: url(/asset/icon-dollar.svg) no-repeat left;
  background-position: 7px;
}
.left-side input#bill:focus {
  outline: none;
}
.left-side input#people {
  background: url(/asset/icon-person.svg) no-repeat left;
  background-position: 7px;
}
.left-side input#people:focus {
  outline: none;
}
.tips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.tips .active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.tip-content {
  display: flex;
}
.tip-result {
  display: flex;
  padding-top: 3em;
}
.tip-result h4 {
  font-size: 2rem;
  padding-top: 0.2em;
  margin-left: 0.2em;
  color: var(--light-grayish-cyan);
}


@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  .left-side {
    width: 100%;
  }
  .tips {
    grid-template-columns: repeat(2, 1fr);
  }

}
.right-side {
  display: grid;
  line-height: 1rem;
  background: hsl(183, 100%, 15%);
  border-radius: 10px;
}
.right-side h5 {
  font-size: 10px;
  color: hsl(189, 41%, 97%);
  word-spacing: 5px;
}
.right-side p {
  color: hsl(185, 14%, 56%);
  font-size: 10px;
  word-spacing: 2px;
}
.tip-amount {
  margin: 3em;
}
.tip-total {
  margin: 10px 2em;
}
.dollars {
  font-size: 4em;
  color: hsl(185, 41%, 84%);
  margin-left: 100px;
  word-spacing: 0.5px;
}
img {
  height: 30px;
}
.btn {
  display: flex;
  background: hsl(185, 41%, 84%);
  padding: 10px 9em;
  margin: 3rem;
  border-radius: 5px;
  color: hsl(185, 14%, 56%);
}
.btn:hover {
  background: hsl(180, 87%, 36%);
  color: hsl(183, 100%, 15%);
  font-weight: bold;
}
@media (max-width: 430px) {
  .container {
    flex-direction: column;
    width: 400px;
  }
  .left-side {
    width: auto;
  }
  .right-side {
    width: auto;
  }
  .reset {
    margin: 50px 20px 20px;
  }
}
